<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Authentification">
        <setting label="username" type="text"   id="username" default=""/>
        <setting label="password" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
    </category>
</settings>